<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7DvrO42k7bBv3Mx_uS6KFKCZj_ODQA9M</string>
	<key>GCM_SENDER_ID</key>
	<string>907063967021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.columbia.TeamAlgeria</string>
	<key>PROJECT_ID</key>
	<string>algeria-fb873</string>
	<key>STORAGE_BUCKET</key>
	<string>algeria-fb873.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:907063967021:ios:921fadedd9033f304ea7a4</string>
</dict>
</plist>
